<div id="st-navbar-desktop-wrapper" class="st-navbar-desktop-wrapper st-navbar-desktop-fixed">
  <div class="st-navbar-desktop">
    <div class="container">
      <div class="st-navbar-desktop-logo">
        <div title="Home"> <%= link_to "", root_path, class:"fas fa-home fa-2x home-logo"%></div>
      </div>
      <nav class="st-navbar-desktop-menu" role="navigation">
        <ul id="st-navbar-desktop-menu-nav" class="sf-menu hidden-xs">
          <li><%= link_to "Top Restaurants", top_restaurants_path %></li>
          <li><%= link_to "Add a restaurant", new_restaurant_path %></li>
          <li>
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t(".sign_out", default: "Log out") %>
            <% end %>
            <% else %>
              <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>
            <% end %>
          </li>
        </ul>
        <ul id="st-navbar-desktop-menu-nav" class="sf-menu hidden-sm hidden-md hidden-lg">
          <li class="dropdown-right"><a class="fas fa-bars fa-2x"></a>
            <ul>
              <li><%= link_to "Top Restaurants", top_restaurants_path %></li>
              <li><%= link_to "Add a restaurant", new_restaurant_path %></li>
              <li>
                <% if user_signed_in? %>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <%= t(".sign_out", default: "Log out") %>
                <% end %>
                <% else %>
                  <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
