<% if restaurant.photo.present? %>
  <div class="card card_margin" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path restaurant.photo, height: 300, width: 400, crop: :fill %>')">
  <div>
<% else %>
  <div class="card card_margin" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "nophoto.png" %>')">
  <div>
<% end %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant), class:"link-style" %></h2>
    <p>City: <%= restaurant.city %></p>
    <p>Food Type: <%= restaurant.food_type %></p>
    <p>Rating: (<span class="star"><%= "*" * restaurant.rating %></span>)</p>
  </div>
</div>
