<%= simple_form_for @restaurant do |f| %>
  <%= f.error_notification %>

  <div>
    <%= f.input :name %>
    <%= f.input :city %>
    <%= f.input :food_type, label: "Type of food" %>
    <%= f.input :rating, collection: 1..5, prompt: "Number of stars"%>
  </div>

  <div>
    <%= f.button :submit, class: "button" %>
  </div>
<% end %>
