<% content_for(:title) do %>
  <%= @restaurant.name %> is on Restauant Advisor
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-3">
      <h1 class="page-padding"><%= @restaurant.name %></h1>
      <p><%= @restaurant.city %></p>
      <p><%= @restaurant.food_type %></p>
      <p><%= "*" * @restaurant.rating %></p>

      <ul>
        <% @restaurant.reviews.each do |review| %>
        <li><%= review.content %></li>
        <% end %>
      </ul>

      <%= link_to "Back to all restaurants", restaurants_path %>
      <%= link_to "Add reveiw", new_restaurant_review_path(@restaurant) %>
    </div>
  </div>
</div>
