<% content_for(:title) do %>
  <%= @restaurant.name %> is on Restauant Advisor
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-3">
      <h1 class="page-padding"><%= @restaurant.name %></h1>
      <p><%= @restaurant.city %></p>
      <p><%= @restaurant.food_type %></p>
      <p><%= "*" * @restaurant.rating %></p>

      <ul>
        <% @restaurant.reviews.each do |review| %>
        <li><%= review.content %></li>
        <% end %>
      </ul>
      <div class="row">
        <%= link_to "Remove restaurant", @restaurant, method: :delete, data: {confirm: 'Are you sure?' }, class: 'button'%>
        <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'button' %>
        <%= link_to "See the Chef", chef_restaurant_path(@restaurant), class: 'button' %>
        <%= link_to "Back to all restaurants", restaurants_path, class: 'button' %>
        <%= link_to "Add review", new_restaurant_review_path(@restaurant), class: 'button' %>
      </div>
    </div>
  </div>
</div>
