<div class="container layout">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-3">
      <h1 class="page-padding">Our best restaurants</h1>
      <ul>
        <% @top_restaurants.each do |restaurant| %>
          <li>
            <p><%= restaurant.name %> (<span class="star"><%= "*" * restaurant.rating %></span>)</p>
            <% if restaurant.photo.present? %>
              <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path restaurant.photo %>')">
              </div>
            <% else %>
              <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "nophoto.png" %>')">
              </div>
            <% end %>
            <p>City: <%= restaurant.city %></p>
            <p>Food Type: <%= restaurant.food_type %></p>
            <p><%= link_to 'More Info', restaurant_path(restaurant), class: 'button' %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
